<p><%=@team_name%></p>
<p><%="Team Motto: #{@team_motto}"%></p>
<% @team_members.each do |hero| %>
<h2>Hero Name: <%= hero["name"] %></h2>
<p>Hero Power: <%= hero["power"] %><br />
Hero Biography: <%= hero["biography"] %></p>
<% end %>
