<h1>Flatiron</h1>

<h2>Team Name: <%= @name %></h2>
<h2>Team Motto: <%= @motto %></h2>

<h2>Hero Name: <%= @hero_name_one %></h2>
<p>Hero Power: <%= @hero_power_one %></p>
<p>Hero Biography: <%= @hero_bio_one %></p>

<h2>Hero Name: <%= @hero_name_two %></h2>
<p>Hero Power: <%= @hero_power_two %></p>
<p>Hero Biography: <%= @hero_bio_two %></p>

<h2>Hero Name: <%= @hero_name_three %></h2>
<p>Hero Power: <%= @hero_power_three %></p>
<p>Hero Biography: <%= @hero_bio_three %></p>