    <h1><%= @team_name %></h1>
<h1>Team Motto: <%= @team_motto %></h1>



<h1>Hero Name: <%= @member_1_name %></h1>
 <p>  Hero Power: <%= @member_1_power%></p>
 <p>  Hero Biography: <%= @member_1_bio%></p>

<h1>Hero Name: <%= @member_2_name %></h1>
 <p>  Hero Power: <%= @member_2_power%></p>
 <p>  Hero Biography: <%= @member_2_bio%></p>

<h1>Hero Name: <%= @member_3_name %></h1>
 <p>  Hero Power: <%= @member_3_power%></p>
 <p>  Hero Biography: <%= @member_3_bio%></p>